.rheostat {
  overflow: visible;
}

.rheostat.rheostat-horizontal {
    height: 30px;
    background-color: #D7D7D7;

}

.rheostat-progress {
    height: 30px;
    background-color: #bbce36;
    border-radius: 6px;
    font-size: .7em;
    border: 1px solid #000000;
}

.rheostat-background {
  background-color: #fcfcfc;
  border: 1px solid #d8d8d8;
  position: relative;
}

.rheostat-progress {
  /* background-color: #abc4e8; */
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 20%;
  height: 24px;
  outline: none;
  z-index: 2;
  width: 24px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}

.SlideValues li {
    width: auto;
}

.SlideValues li:first-child {
    float: left;
}

.SlideValues li {
    float: right;
}

.SlideValues {
    display: block;
    height: 19px;
    list-style: none;
    margin: 0;
    padding-top: 3px;
}

.progressText{
        width: 500px;
        float: left;
        padding-left: 8px;
        text-align: left;
        padding-top: 4px;
}